@charset "UTF-8";
header {
	height: 105px;
	display:flex;
    justify-content: space-between;
    align-items: center;
}
/* header h1 {
    width: 315px;
    height: 49px;
} */
/* .g-nav {
    width: 498px;
    height: 24px;
} */
.g-nav ul {
    width: 100%;
    display: flex;
    list-style: none;
}
.g-nav li {
    margin-right: 1em;
}
.g-nav li a{
    text-decoration: none;
    color: #272727;
}
.g-nav li a:hover{
    color: #ffaa17;
}
.top {
    width: 100%;
    background-image: url("../images/top.png");
    background-size: cover;
    height: 100vh;
    position: relative;
}
.top p {
    display: block;
    width: 170px;
    height: 141px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bukkding{
    background-color: #F1EDE7;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    padding-top: 139px;
    background-size:contain;
}
.bukkding-2{
    background-color: #F9F7F5;
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    padding-top: 139px;
    background-size:contain;
}
.bukkding-3{
    background-color: #FFFFFF;
    background-image: url("../images/background3.png");
    background-repeat: no-repeat;
    padding-top: 139px;
    background-size:contain;
}

.house-building {
    width: 819px;
    height: 150px;
    margin: 0 auto 94px;
    text-align: center;
}
.house-building span {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 46px;
}
.orange {
    font-size: 20px;
    color: #FFAA17;
}
.building-copy {
    width: 975px;
    line-height: 38px;
    height: 38px;
    padding-right: 54px;
    margin-right: 100px;
    text-align: right;
    background-image: url("../images/title.png");
    background-repeat: no-repeat;
}
.building-box {
    display: flex;
    margin-bottom: 78px;
}
.building-box ul{
    font-size: 22px;
    font-weight: bold;
}
.building-box li{
    margin-bottom: 20px;
    list-style: none;
}
.building-box li::before{
    content: url("../images/check.png") ;
    padding-right: 18px;  
    border-right: 3px solid #272727;
    margin-right: 0.6em;
}
.building-topics {
    display: flex;
    align-items:flex-end;
}

.building-topics .pic {
    width: 1183px;
    height: 512px;
    z-index: 1;
    position: relative;
}
.building-topics .textbox{
    width: 50%;
    height: 445px;
    background-image: url("../images/main-kizi1.png");
    position: absolute;
    z-index: 2;
    padding:50px 3%;
    box-sizing: border-box;
}
.textbox .textbox-child {
    width: 80%;
}

.building-topics .textbox h3{
    font-size: 25px;
    color: #272727;
    margin-bottom: 29px;
}
.building-topics .textbox p{
    line-height: 36px;
}
.building-topics.topics1 .textbox{
    margin: 0 0 -32px 47%;
}
.building-topics.topics2 .textbox{
    margin: 0 47% -24px 0;
}
.topics2 {
    justify-content: flex-end;
}
.topics1,.topics2 {
    margin-bottom: 124px;
}

.works {
    text-align: center;
    /* flex-wrap: wrap; */
    margin: 0 15% 124px 15%;
}

.works .works-child {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.works .pic-container {
    position: relative;
    width: 419px;
    height: 264px;
}
.works .pic-container p {
    position: absolute;
    padding: 3%;
    left: 3%;
    bottom: 3%;
    margin:0;
    color: #FFFFFF;
    text-align: left;
    font-size: 17px;
}

.land {
    text-align: center;
    /* flex-wrap: wrap; */
    margin: 0 15% 124px 15%;
}

.company {
    margin: 0 15% 124px 15%;
}

.company .greet {
    margin: 0 20%;
}

.company .greet h3 {
    font-size: 28px;
    margin-bottom: 24px;
}

.company .greet p {
    text-align: center;
    font-size: 17px;
    line-height: 40px;
}

.company .greet .right{
    text-align: right;
}

.company .abstruct h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 24px;
}

.company .abstruct .abstruct-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.googlemap {
    margin: 0 3%
}

footer {
    background-color: #E2DDD5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-left .tel {
    font-size: 64px;
}