@charset "utf-8";
body {
color: #f7a04e;
background-color: #000;
font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
}

.wrapper {
width:1280px;
height: 600px;
position: absolute;
top: 50%;
left: 50%;
margin: -300px 0 0 -640px;
z-index: 100;
}

.logo {
	text-align: center;
	width: 65%;
	height: 150px;
	margin: auto;
	line-height: 150px;
}

.logo{
	font: 36px italic "Vibur";
	color: #f7a04e;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f7a04e, 0 0 0.5em #f7a04e, 0 0 0.1em #f7a04e, 0 10px 3px #000;
}
.logo span{
  animation: blink linear infinite 2s;
}
.logo span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.display-box {
width: 1200px;
margin: auto;
}

.pest {
border-left:10px double #D16B42;
border-right:10px double #D16B42;
padding:  0 12px;
width:360px;
margin: 0 0 20px 0;
font-size: 2.4em;
text-align: center
}

.pest span {
display: block;
font-size: 12px;
text-align: center;
}

.cdn-box {
display: flex;
}

.cdn {
font-size: 1.8em;
font-weight: bold;
width: 200px;
/*border: 1px solid #d16b42;*/
text-align: center;
text-indent: 1em;
}

.countdown {
font-size: 6em;
font-weight: bold;
color: #fefaa0;
}

.jst-box {
display: flex;
text-align: center;
align-items: center;
}

.jst {
border-left:10px double #D16B42;
border-right:10px double #D16B42;
padding:  0 12px;
width: 200px;
font-size: 1.8em;
height: 2.4em;
}

.jst span {
display: block;
font-size: 10px;
}

.en {
width: 40px;
margin: 0 20px;
border:1px solid #d16b42;
padding: 5px;
}

#jst {
	font-size: 2.4em;
	color: #fefaa0;
	border:1px solid #d16b42;
	padding-right: 20px;
}

#jst:before {
	content: "LIVE";
	display: inline-block;
	width: 50px;
	color: #fefaa0;
	font-size: 0.5em;
	margin:0 18px;
}

.background {
	position: absolute;/*絶対配置*/
	width: 100%;/*ウィンドウサイズに合わせる*/
	height: 100%;/*ウィンドウサイズに合わせる*/
	display: block;/*ブロック形式で表示*/
	top: 0;/*上の開始位置*/
	left: 0;/*左の開始位置*/
	z-index: 0;/*重なり順*/
}